/free-env
__pycache__
/freeweb/.env
*.mo
/free/assets/semantic-ui/themes
/free/assets/node_modules
/static/bundles
/.vscode
/free/assets/webpack-stats.json
/staticfiles
/assets/node_modules
/assets/semantic-ui/themes
db.sqlite3
/*.zip
/freeweb/certificates/*
/free/media/*
migrations
.DS_Store
*.save
*.save.*
FREE_quizes/quizes_code/*
dump-command.txt
*.py~
free/modelsOLD.py
freeweb/.env~
freeweb/settings-mysql.py
freeweb/settings-postgres.py
freeweb/settings-sqllite.py
freeweb/settingsOLD.py
runserve.sh
startserve.sh

fixtures/
