{% extends 'free/base.html' %}
{% load i18n %}
{% load django_tables2 %}


{% block title %} {% trans 'List of apparatuses' %} {% endblock %}

{% block content %}
    <div class="ui white sixteen wide column" id="content">
        <div class="ui centered grid">
            <div class="row">
                <div class=" ui sixteen wide column">
                    <div class="ui header segment">
                        <h2><i class="cogs icon"></i>{% trans 'List of Apparatuses' %}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" ui sixteen wide column">
                    <div class="ui  segment">
                        <div class="ui green ribbon icon label">{% trans 'List of available Apparatuses'%}</div>
                        <div class="ui divider"></div>

                        {% render_table table %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
