{% extends 'free/base.html' %}
{% load i18n %}
{% load static %}

{% block title %} Home page {% endblock %}

{% block content %}

{% if not user.is_authenticated %}

<style>
    .p{
        font-size: 20pt;
    }
    #page-grid {
        background-image: url('/static/free/images/free-index-bg.png');
        background-repeat: repeat;
        background-size: cover;
    }
    </style>
{% endif %}
        <!--content-->

<div class=" ui white sixteen wide column" id="content">

    <div class="ui centered grid">
        <div class="row">
            <div class=" ui sixteen wide column">
                <div class="ui header segment">
                    <div class="ui grid">
                        <div class="six wide middle aligned column">
                            <img   class="ui image  right floated"  src="/static/free/images/elab_logo.png">
                        </div>
                        <div class="ten wide middle aligned column">
                            <div class="ui right floated">
                                <h1>elab@Técnico powered by FREE </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if not user.is_authenticated %}

        <div class=" ui centered row">
            <div class="eight wide computer twelve wide phone centered column">
                <div class="ui padded segment">
                    <div class="ui grid">
                        <div class="ui two columnn row">
                            <div class="column">
                                    <a  href="{% url 'free:login' %}">
                                        <button class="ui  right floated teal labeled icon button">
                                        LOG IN
                                        <i class="signup icon"></i>
                                        </button>
                                    </a>
                            </div>
                            <div class="ui column">
                                <img class="ui image" src="/static/free/images/arrow.png">
                            </div>
                        </div>
                        <div class="ui left row">
                
                            <p> If you want to execute some experiments or enter to the world of remote laboratories....
                            Log in
                            </p>
                            <h4>elab is open and is FREE!</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}



        <div class="equal height row">
                
            <div class="eight wide computer eight wide tablet sixteen wide phone centered column">
                <div class="ui segment">
                    <div class="grid">  
                        <div class ="row">
                            <p>The Elab is a space where real cientific experiments can be executed by anyone, anytime, anywehere.
                                Most of the available experiments were designed, buit and assembled by at <a href="https://tecnico.ulisboa.pt/pt/" t>Instituto Superior Tecnico</a>
                            and are deployed in the whole world.</p>                
                            <p>Some of these experiments are being user in real teaching/leaning context by schools in europe and in the Americas.
                            Nonethless, any user on the Internet can enter elab, select one of the available experiments, configure it and see in real time its operations. Resulting data are yours to keep them!</p>
                        </div>
                        <div class="ui divider"></div>
                        <div class ="row">
                            Imagined by: 
                            <a href="https://tecnico.ulisboa.pt" class="ui small image">
                                <img   class="image right"  src="/static/free/images/IST-logo.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eight wide computer eight wide tablet  sixteen wide phone centered column">
                <div class="ui segment  ">
                    <div class="grid">  
                        <div class ="row">
                            <p>FREE is the software infrastructrure that supports all the experiments, data and operations, and can be integrated with any LMS (such as Moodle).</p>
                            <p> It follow the moder web arcghitecures to allow and easy and efficient design, deployment and execution of experiments.</p>
                            <p> It is written in python and javascript to allow an easy access (on desktop computers or smartphones) from anywere in the internet.</p>
                        </div>
                        <div class="ui divider"></div>
                        <div class ="row">
                            Powered by: 
                            <a href="https://inesc-id.pt" class="ui small image">
                                <img   class="image right"  src="/static/free/images/INESC-ID-logo.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>



        <div class="row stackable ">
            <div class=" four wide computer eigth wide phone centered column">
                <div class="ui center aligned segment">
                    <div class="ui center aligned icon header">
                        <i class="cogs icon"></i> <br>
                        {{n_experiments}} 
                    </div>
                    Experiments

                </div>
            </div>
            <div class="four wide computer eigth wide phone centered column">
                <div class="ui center aligned  segment">
                    <div class="ui center aligned icon header">
                        <i class="chart bar icon"></i><br>
                        {{n_executions}} 
                    </div>
                    Executions
                </div>
            </div>
            <div class=" four wide computer eigth wide phone centered column">
                <div class="ui center aligned segment">
                    <div class="ui center aligned icon header">
                        <i class="user icon"></i><br>
                        {{n_users}}
                    </div>
                    Users
                </div>
            </div>
            <div class=" four wide computer eigth wide phone centered column">
                <div class="ui center aligned segment">
                    <div class="ui center aligned icon header">
                        <i class="globe icon"></i><br>
                        {{n_countries}} 
                    </div>
                    Countries
                </div>
            </div>
        </div>
        <div class="row">
        </div>



</div>
{% endblock %}
