{% extends 'free/base.html' %}
{% load i18n %}
{% load static %}

{% block title %} Home page {% endblock %}

{% block content %}

{% if not user.is_authenticated %}

<style>
    body{
        background-color:rgba(255,250, 230, 0.90);
    }
    #page-grid {
        background-image: url('/static/free/images/free-index-bg.png');
        background-repeat: repeat;
        background-size: cover;
    }
    .ui.sepia {
        background-color:rgba(255,250, 230, 0.90);

    }
    </style>
{% endif %}
        <!--content-->

<div class=" ui white sixteen wide column" id="content">

    <div class="ui centered grid">
        <div class="ui row">
            <div class="ui sixteen wide column  ">
                <div class="ui header segment sepia">
                    <div class="ui grid ">
                        <div class="ui six wide middle aligned column ">
                            <img   class="ui image  right floated "  src="/static/free/images/elab_logo.png">
                        </div>
                        <div class="ui ten wide middle aligned column ">
                            <div class="ui right floated ">
                                <h1>elab@Técnico powered by FREE </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if not user.is_authenticated %}

        <div class=" ui centered row">
            <div class="eight wide computer twelve wide phone centered column">
                <div class="ui padded segment sepia">
                    <div class="ui grid">
                        <div class="ui two columnn row">
                            <div class="column">
                                    <a  href="{% url 'free:login' %}">
                                        <button class="ui  right floated teal labeled icon button">
                                        LOG IN
                                        <i class="signup icon"></i>
                                        </button>
                                    </a>
                            </div>
                            <div class="ui column">
                                <img class="ui image" src="/static/free/images/arrow.png">
                            </div>
                        </div>
                        <div class="ui left row">
                            <div class="ui column">

                            <p> If you want to execute some experiments or enter the world of remote laboratories....
                            Log in
                            </p>
                            <h4>elab is open and is FREE!</h4>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}



        <div class="equal height row">
                
            <div class="eight wide computer eight wide tablet sixteen wide phone centered column">
                <div class="ui segment sepia">
                    <div class="grid">  
                        <div class ="row">
                            <p>The elab is a space where real scientific experiments can be executed by anyone, anytime, anywhere.
                                Most of the available experiments were designed, built and assembled at  <a href="https://tecnico.ulisboa.pt/pt/" t>Instituto Superior Tecnico</a>
                            and are deployed throughout  the whole world.</p>                
                            <p>Some of these experiments are being used in real teaching/leaning context by schools in Europe and in the Americas.
                                Nonetheless, any user on the Internet can enter elab, select one of the available experiments, configure it and see in real time its operations. 
                                The resulting data is yours to keep it!</p>
                        </div>
                        <div class="ui divider"></div>
                        <div class ="row">
                            Imagined by: 
                            <a href="https://tecnico.ulisboa.pt" class="ui small image">
                                <img   class="image right"  src="/static/free/images/IST-logo.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eight wide computer eight wide tablet  sixteen wide phone centered column">
                <div class="ui segment sepia ">
                    <div class="grid">  
                        <div class ="row">
                            <p>FREE is the software infrastructrure that supports all the experiments, data and operations, and can be integrated with any LMS (such as Moodle).</p>
                            <p>It follows modern software architecures to allow an easy and efficient design, deployment and execution of experiments.</p>
                            <p>It is written in python and javascript to allow an easy access (on desktop computers or smartphones) from anywere in the internet.</p>
                        </div>
                        <div class="ui divider"></div>
                        <div class ="row">
                            Powered by: 
                            <a href="https://inesc-id.pt" class="ui small image">
                                <img   class="image right"  src="/static/free/images/INESC-ID-logo.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>



        <div class="four column stackable row">
            <div class=" column">
                <div class="ui center aligned  segment sepia">

                    <div class="ui statistic">
                        <div class="value">
                        <i class="chart bar icon"></i>
                         {{n_experiments}}
                        </div>
                        <div class="label">
                            Experiments
                        </div>
                    </div>
                </div>
            </div>
            <div class=" column">
                <div class="ui center aligned  segment sepia">

                    <div class="ui statistic">
                        <div class="value">
                        <i class="cogs icon"></i>
                         {{n_executions}} 
                        </div>
                        <div class="label">
                            Executions
                        </div>
                    </div>
            </div>
            </div>
            <div class=" column">
                <div class="ui center aligned segment sepia">
                    <div class="ui statistic">
                        <div class="value">
                        <i class="user icon"></i>
                        {{n_users}}
                        </div>
                        <div class="label">
                            Users
                        </div>
                    </div>
                </div>
            </div>
            <div class=" column">
                <div class="ui center aligned segment sepia">

                    <div class="ui  statistic">
                        <div class="value">
                        <i class="globe icon"></i>
                        {{n_countries}}
                        </div>
                        <div class="label">
                            Countries
                        </div>
                    </div>
                </div>
            </div>
        </div>








        <div class="row">
        </div>



</div>
{% endblock %}
